{%extends 'temp_app.html'%}

{% load static %}

{% block style %} 
<link rel="stylesheet" href="{% static 'css\user.css' %}">
{% endblock style %}

{% block nav %} 
<div style="flex-grow: 1">
</div>
{% endblock nav %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card" style="margin: 10px">
        <img class="user_pic" src="{{cook.get_photo_url}}" alt="">
        <div class="card-body">
          <h6><b>Name:</b><p>{{request.user.username}}</p></h6>
          <h6><b>E-mail:</b><p>{{request.user.email}}</p></h6>
          <h6><b>Description:</b><p>{{cook.description}}</p></h6>
          <hr>
          <a href="{% url 'cookbook:create_recipe' %}">Add new recipe</a>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-8">
            <h5>Edit your data: </h5>
            <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <label for="">Name: </label>
              <p>{{user_form.username}}</p>
              <label for="">Email: </label>
              <p>{{user_form.email}}</p>
              <label for="">Description: </label>
              <p>{{cook_form.description}}</p>
              <label for="">Profile image: </label>
              <p>{{cook_form.cook_img}}</p>
              <input type="submit" name="Submit">
          </form>
    </div>
  </div>
</div>
{% endblock content %}
