{%extends 'temp_start.html'%}

{% load static %}

{% block style %} 
  <link rel="stylesheet" href="{% static 'css\sign_temp.css' %}">
  <link rel="stylesheet" href="{% static 'css\login.css' %}">
{% endblock style %}

{% block content %}
<div class="card">
  <form class="card__form" method="POST" action="">
    <img class="card__logo" src="{% static 'images\chef-logo.svg' %}" alt="">
      {% csrf_token %}
      <label>Forgot password? Enter email: </label>
      <input type="text" name="email" placeholder="Email..." class="card__input form-control">
        {% for message in messages %}
        <p class="card__messages">{{message}}</p>
        {% endfor %}
      <input class="card__button button" type="submit" value="Send email">
      <div class="card__link">
        Do you have a password? <a href="{% url 'accounts:login' %}">Log in</a>
      </div>
  </form>
</div>
{% endblock %}
