{%extends 'temp_start.html'%}

{% load static %}

{% block style %} 
  <link rel="stylesheet" href="{% static 'css\sign_temp.css' %}">
  <link rel="stylesheet" href="{% static 'css\login.css' %}">
{% endblock style %}

{% block content %}
  <div class="card">
    <form class="card__form" method="POST" action="">
      <img class="card__logo" src="{% static 'images\chef-logo.svg' %}" alt="">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username..." class="card__input form-control">
        <input type="password" name="password" placeholder="Password..." class="card__input form-control">
        {% for message in messages %}
          <p class="card__messages">{{message}}</p>
        {% endfor %}
        <input class="card__button button" type="submit" value="Login">
        <div class="card__link">
          <a href="{% url 'accounts:forgot_password' %}">Forgot password?</a>
        </div>
        <div class="card__link">
          Don't have an account? <a href="{% url 'accounts:register' %}">Sign Up</a>
        </div>
    </form>
  </div>
{% endblock %}
