{%extends 'temp_start.html'%}

{% load static %}

{% block style %} 
  <link rel="stylesheet" href="{% static 'css\sign_temp.css' %}">
{% endblock style %}

{% block content %}
  <div class="card">
    <form class="card__form" method="POST" action="">
      <img class="card__logo" src="{% static 'images\chef-logo.svg' %}" alt="">
        {% csrf_token %}
        {{form.username}}
        {{form.email}}
        {{form.password1}}
        {{form.password2}}
        {% for message in messages %}
          <p id="card__messages">{{message}}</p>
        {% endfor %}
        {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="card__messages">
                      <span>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
        {% endif %}
      <input class="card__button button" type="submit" name="Create User" value="Register">
      <div class="card__link">
        Already have an account? <a href="{% url 'accounts:login' %}" class="ml-2">Log in</a>
      </div>
    </form>
  </div>
 
 
{% endblock %}
