{%extends 'temp_app.html'%}

{% load static %}

{% block style %} 
<link rel="stylesheet"  href="{% static 'css\user_profile.css' %}">
<link rel="stylesheet"  href="{% static 'css\navbar.css' %}">
{% endblock style %}

{% block nav %} 
<div style="flex-grow: 1">
</div>
{% endblock nav %}

{% block content %}
{% include 'navbar.html'%}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card user">
        <img class="user__pic" src="{{cook.get_photo_url}}" alt="">
        <div class="card-body">
          <span><b>Name:</b><p>{{request.user.username}}</p></span>
          <span><b>E-mail:</b><p>{{request.user.email}}</p></span>
          <span><b>Description:</b> <p>{{cook.description}}</p></span>
          <hr>
          <a href="{% url 'accounts:edit_user' %}">Settings</a>
          <hr>
          <a href="{% url 'cookbook:create_recipe' %}">Add new recipe</a>
        </div>
      </div>
    </div>
    <div class="col-md"></div>
      <div class="col-md-8 recipes">
            <h5 class="recipes__title">Your recipes: </h5>
            {% if recipes %}
              {%for recipe in recipes %}
                <div class="card recipe-card" style="width: 18rem;">
                  <img src="{{recipe.get_photo_url}}" class="card-img-top" alt="...">
                  <div class="card-body recipe-card__panel">
                    <h5 class="recipe-card__title">{{recipe.name}}</h5>
                    <hr>
                    <a class="recipe-card__link" href="{% url 'cookbook:delete_recipe' recipe.id %}">Delete</a>
                    <a class="recipe-card__link" href="{% url 'cookbook:edit_recipe' recipe.id %}">Edit</a>
                    <a class="recipe-card__link" href="{% url 'cookbook:recipe' recipe.id %}">See</a>
                  </div>
              </div>
            {%endfor%}
            {% else %}
            <h6>You don't have any recipes, add something!</h6>
          {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}