{%extends 'temp_app.html'%}

{% load static %}
{% load widget_tweaks %}

{% block style %} 
<link rel="stylesheet" href="{% static 'css\user.css' %}">
<link rel="stylesheet"  href="{% static 'css\navbar.css' %}">
<link rel="stylesheet" href="{% static 'css\searcher.css' %}">
{% endblock style %}

{% block nav %} 
<div class="searcher">
  <form method="GET">
    {{myFilter.form.search}}
    <button class="searcher__button" type="submit">Search</button>
  </form>
</div>
{% endblock nav %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-ligth">
  <a class="navbar-brand d-lg-none" href="{% url 'cookbook:recipes' %}">
    <img class="nav-logo" src="{% static 'images\chef_black.svg' %}" alt=""></a>
  <a class="navbar-brand d-none d-lg-block" href="{% url 'accounts:user' cook.slug %}">Categories</a>
  <button class="navbar-toggler" type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link 	d-lg-none dropdown-item" href="{% url 'accounts:user_profile' %}">Your profile</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link 	d-lg-none dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
      </li>
      <li class="nav-item d-lg-none ">
        <a class="nav-link dropdown-item" href="{% url 'accounts:user' cook.slug %}">All</a>
      </li>
      {% for category in categories %}
      <li class="nav-item ">
        <a class="nav-link dropdown-item" href="{% url 'accounts:recipe_category_user' cook.slug category.slug %}">{{category.name}}</a>
      </li>
      {% endfor %}
    </ul>
    <form class="form-inline my-2 my-lg-0 d-lg-none">
        {% render_field myFilter.form.search class="form-control mr-sm-2" %}
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card user">
        <img class="user_pic" src="{{cook.get_photo_url}}" alt="">
        <div class="card-body">
          <span><b>Name:</b><p>{{cook.user.username}}</p></span>
          <span><b>E-mail:</b><p>{{cook.user.email}}</p></span>
          <span><b>Description:</b> <p>{{cook.description}}</p></span>
        </div>
      </div>
    </div>
    <div class="col-md"></div>
      <div class="col-md-8 recipes">
            <h5 class="recipe-title">Their recipes: </h5>
            {%for recipe in recipes %}
              <div class="card recipe" style="width: 18rem;">
                <a href="{% url 'cookbook:recipe' recipe.id %}">
                  <img src="{{recipe.get_photo_url}}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                  <h5 class="card-title">{{recipe.name}}</h5>
                  <a href="{% url 'cookbook:recipe' recipe.id %}">See recipe</a>
                </div>
            </div>
          {%endfor%}
      </div>
  </div>
</div>
{% endblock content %}


{% block script %}
<script>
  search = document.querySelector('#id_search')
  search.setAttribute('placeholder', 'Enter the phrase ...')
</script>
{% endblock script %}
