* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 50px);
}

.main-panel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

html {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../images/hero.jpeg");
  background-position: bottom;
  background-size: cover;
  height: 170px;
}

.header::before {
  content: '';
  position: absolute;
  background-color: white;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 50px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.header__greeting {
  color: white;
  font-weight: bold;
  margin: 0;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header__user:hover > .header__user-icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__user:hover {
  color: white;
}

.header__user-icon {
  height: 40px;
  width: 40px;
  margin: 0 0 0 7px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

.header__logo {
  height: 70px;
  width: 70px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.header__logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 20px;
}

.header__logout-icon {
  height: 30px;
  width: 30px;
  color: white;
  margin: 0;
  margin-left: 5px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.header__logout {
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.header__logout:hover > .header__logout-icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__logout:hover {
  color: white;
}

.button {
  display: inline-block;
  min-width: 100px;
  padding: 5px;
  margin: 7px;
  font-size: 15px;
  background-color: transparent;
  border-radius: 25px;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  cursor: pointer;
  outline: none;
}

.button:hover {
  color: white;
  background-color: black;
}
/*# sourceMappingURL=app.css.map */