{%extends 'temp_app.html'%}

{% load static %}

{% block style %} 
<link rel="stylesheet"  href="{% static 'css\navbar.css' %}">
<link rel="stylesheet"  href="{% static 'css\recipe_form.css' %}">
{% endblock style %}

{% block nav %} 
<div style="flex-grow: 1">
</div>
{% endblock nav %}

{% block content %}
{% include 'navbar.html'%}
<div class="container">
  <div class="row">
    <div class="col-3 d-none d-lg-block">
      <div class="card" style="margin: 10px">
        <img class="user_pic" src="{{request.user.userprofile.get_photo_url}}" alt="">
        <div class="card-body">
          <span><b>Name:</b><p>{{request.user.username}}</p></span>
          <span><b>E-mail:</b><p>{{request.user.email}}</p></span>
          <span><b>Description:</b><p>{{request.user.userprofile.description}}</p></span>
          <hr>
          <a href="{% url 'accounts:edit_user' %}">Settings</a>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-8">
            <h5>Add new recipe: </h5>
            <form id="container" action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- {{form.cook}} -->
              <label>Dish name</label>
              <p>{{form.name}}</p>
              <label>Choose category (click Ctrl to select more)</label>
              <p>{{form.category}}</p>
              <label>Choose level of difficulty: </label>
              <p>{{form.level}}</p>
              <label>Preparation time in hour: </label>
              <p>{{form.preparation_time}}</p>
              <label>Ingredients: </label>
              {{ formset.management_form }}
                  {% for form in formset %}
                    <div class="ing-form">
                      <hr>
                      {{ form.as_p}}
                    </div>
                  {% endfor %}
              <button class="button" id="add-more" type="button">Add More</button>
              <br>
              <label>Describe</label>
              <p>{{form.description}}</p>
              <label>Image</label>
              <p>{{form.recipe_img}}</p>
              <input type="submit" name="Submit">
            </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script>
    let ingForm = document.querySelectorAll(".ing-form")
    let container = document.querySelector("#container")
    let addButton = document.querySelector("#add-more")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
    let formNum = ingForm.length-1
    addButton.addEventListener('click', addForm)
    function addForm(e){
        e.preventDefault()
        let newForm = ingForm[0].cloneNode(true)
        let formRegex = RegExp(`form-(\\d){1}-`,'g')
        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex,'form-'+formNum+'-')
        container.insertBefore(newForm, addButton)
        
        totalForms.setAttribute('value', `${formNum+1}`)
    }
</script>
{% endblock %}
