{%extends 'temp_app.html'%}

{% load static %}

{% block style %} 
<link rel="stylesheet"  href="{% static 'css\navbar.css' %}">
<link rel="stylesheet"  href="{% static 'css\recipe_form.css' %}">
{% endblock style %}

{% block nav %} 
<div style="flex-grow: 1">
</div>
{% endblock nav %}

{% block content %}
{% include 'navbar.html'%}
<div class="container">
  <div class="row">
    <div class="col-3 d-none d-lg-block">
      <div class="card" style="margin: 10px">
        <img class="user_pic" src="{{request.user.userprofile.get_photo_url}}" alt="">
        <div class="card-body">
          <h6><b>Name:</b><p>{{request.user.username}}</p></h6>
          <h6><b>E-mail:</b><p>{{request.user.email}}</p></h6>
          <h6><b>Description:</b><p>{{request.user.userprofile.description}}</p></h6>
          <hr>
          <a href="{% url 'accounts:edit_user' %}">Settings</a>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-8">
            <h5>Add new recipe: </h5>
            <form id="conatiner" action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- {{form.cook}} -->
              <label for="">Dish name</label>
              <p>{{form.name}}</p>
              <label for="">Choose category (click Shift to select more)</label>
              <p>{{form.category}}</p>
              <label for="">Choose level of difficulty: </label>
              <p>{{form.level}}</p>
              <label for="">Preparation time in hour: </label>
              <p>{{form.preparation_time}}</p>
              <label for="">Ingredients: </label>
              {{ formset.management_form }}
                  {% for form in formset %}
                      {{ form.as_p }}
                  {% endfor %}
              <label for="">Ingredients</label>
              <p>{{form.ingredients}}</p>
              <label for="">Describe</label>
              <p>{{form.description}}</p>
              <label for="">Image</label>
              <p>{{form.recipe_img}}</p>
              <input type="submit" name="Submit">
            </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script>

</script>
{% endblock %}
