{%extends 'temp_app.html'%}

{% load static %}

{% block style %} 
<style>
  textarea, select {
    width: 400px;
    height: 130px;
  }
</style>
{% endblock style %}

{% block nav %} 
<div style="flex-grow: 1">
</div>
{% endblock nav %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card" style="margin: 10px">
        <img class="user_pic" src="{{request.user.userprofile.get_photo_url}}" alt="">
        <div class="card-body">
          <h6><b>Name:</b><p>{{request.user.username}}</p></h6>
          <h6><b>E-mail:</b><p>{{request.user.email}}</p></h6>
          <h6><b>Description:</b><p>{{request.user.userprofile.description}}</p></h6>
          <hr>
          <a href="{% url 'accounts:edit_user' %}">Settings</a>
          <hr>
          <a href="{% url 'cookbook:create_recipe' %}">Add new recipe</a>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-8">
            <h5>Edit recipe: </h5>
            <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- {{form.cook}} -->
              <label for="">Dish name</label>
              <p>{{form.name}}</p>
              <label for="">Choose category (click Shift to select more)</label>
              <p>{{form.category}}</p>
              <label for="">Choose level of difficulty: </label>
              <p>{{form.level}}</p>
              <label for="">Preparation time [HH.MM h]: </label>
              <p>{{form.preparation_time}}</p>
              <label for="">Ingredients</label>
              <p>{{form.ingredients}}</p>
              <label for="">Describe</label>
              <p>{{form.description}}</p>
              <label for="">Image</label>
              <p>{{form.recipe_img}}</p>
              <input type="submit" name="Submit">
            </form>
    </div>
  </div>
</div>
{% endblock content %}
